{% extends "layout_exterior.html" %}
{% load static %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-gradient-primary"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form action="{% url 'register' %}" method="post" class="form user">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="email" name="email" placeholder="Email Address">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="text" name="first" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="text" name="last" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="text" name="gender" placeholder="Gender">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="password" name="confirmation" placeholder="Confirm Password">
                                    </div>
                                    <input class="btn btn-primary btn-user btn-block" type="submit" value="Register">
                                </form>
                                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
    </form>

    




{% endblock %}